<aside>
    <div class="grid container">
        <div class="row">
            <div class="col c-12 m-3 l-3 nav-menu">
                <div class="logo">
                    <a href="index.html" class="link-logo">
                        <img src="assets/set/img/logo.png" alt="">
                    </a>
                </div>

                <div class="box-menu">
                    <div class="menu-item">
                        <i style="color: rgb(66, 114, 215);" class="fa-solid fa-gauge-high"></i><a style="color: rgb(66, 114, 215);" routerLink="/">Dashbroad</a>
                    </div>

                    <div class="menu-item">
                        <div class="box-manage-menu">
                            <i class="fa-solid fa-bars-progress"></i><a href="#">Quản lý sản phẩm</a>
                            <i id="icon-angle-right" style="margin-left: 20px;font-size: 12px;"
                                class="fa-solid fa-angle-right"></i>
                        </div>
                        <ul class="menu-item__list">
                            <li>
                                <a routerLink="/category">Loại sản phẩm</a>
                            </li>

                            <li>
                                <a routerLink="/products">Sản phẩm</a>
                            </li>
                            <li>
                                <a routerLink="/color">Màu sắc</a>
                            </li>

                            <li>
                                <a routerLink="/size">Kích thước</a>
                            </li>

                            <li>
                                <a routerLink="/brand">Hãng</a>
                            </li>
                        </ul>
                    </div>

                    <div class="menu-item">
                        <i class="fa-solid fa-file-import"></i><a routerLink="/importinvoice">Hóa đơn nhập</a>
                    </div>

                    <div class="menu-item">
                        <div class="box-manage-menu">
                            <i class="fa-solid fa-ticket"></i><a
                             href="#">Quản lý phiếu giảm giá</a>
                            <i id="icon-angle-right" style="margin-left: 20px;font-size: 12px;" class="fa-solid fa-angle-right"></i>                                  
                        </div>
                        <ul class="menu-item__list">
                            <li>
                                <a routerLink="/categoryvoucher">Loại phiếu giảm giá</a>
                            </li>

                            <li>
                                <a routerLink="/voucher">Phiếu giảm giá</a>
                            </li>
                        </ul>
                    </div>

                    <div class="menu-item">
                        <div class="box-manage-menu">
                            <i class="fa-solid fa-newspaper"></i><a
                             href="#">Quản lý tin tức</a>
                            <i id="icon-angle-right" style="margin-left: 20px;font-size: 12px;" class="fa-solid fa-angle-right"></i>                                  
                        </div>
                        <ul class="menu-item__list">
                            <li>
                                <a routerLink="/categorynews">Chủ đề tin tức</a>
                            </li>

                            <li>
                                <a routerLink="/news">Tin tức</a>
                            </li>
                        </ul>
                    </div>
                      
                    <div class="menu-item">
                        <i class="fa-solid fa-truck-arrow-right"></i><a routerLink="/transport">Quản lý vận chuyển</a>
                    </div>
                    
                    <div class="menu-item"><i class="fa-solid fa-users"></i><a routerLink="/user">Người dùng</a>
                    </div>
                    <div class="menu-item">
                        <i class="fa-solid fa-user"></i><a routerLink="/supplier">Nhà cung cấp</a>
                    </div>

                    <div class="menu-item">
                        <i class="fa-regular fa-credit-card"></i><a routerLink="/billofsale">Hóa đơn bán</a>
                    </div>
                </div>
            </div>

            <div class="col c-12 m-9 l-9">
                <app-header></app-header>
                <div class="main-content">
                    <div class="title">
                        <h3>Quản lý sản phẩm</h3>
                    </div>

                    <div class="gird box-manage">
                        <form class="row" action="" method="post">
                            <!-- <input type="number" name="productid" id="productid" style="display: none;"> -->
                            <div class="col c-12 m-6 l-6 form-input">
                                <label for="masanpham">Mã sản phẩm</label>
                                <input type="text" name="masanpham" [(ngModel)]="detailproductobj.MaSanPham"
                                    id="masanpham" placeholder="Nhập thông tin sản phẩm" class="form-control" disabled>
                            </div>
                            <div class="col c-12 m-6 l-6 form-input">
                                <label for="mau">Màu</label>
                                <select name="mau" [(ngModel)]="detailproductobj.MaMau" id="mau" class="form-control">
                                    <option *ngFor="let item of colors" [value]="item.MaMau">{{item.TenMau}}</option>
                                </select>
                            </div>

                            <div class="col c-12 m-6 l-6 form-input">
                                <label for="kichthuoc">Kích thước</label>
                                <select name="kichthuoc" [(ngModel)]="detailproductobj.MaKichThuoc" id="kichthuoc"
                                    class="form-control">
                                    <option *ngFor="let item of sizes" [value]="item.MaKichThuoc">{{item.TenKichThuoc}}
                                    </option>
                                </select>
                            </div>
                            <div class="col c-12 m-6 l-6 form-input">
                                <label for="giaban">Giá bán</label>
                                <input type="number" name="giaban" [(ngModel)]="detailproductobj.GiaBan" id="giaban"
                                    placeholder="Nhập giá sản phẩm" class="form-control">
                            </div>

                            <div class="col c-12 m-6 l-6 form-input">
                                <label for="giakhuyenmai">Giá khuyến mại</label>
                                <input type="number" name="giakhuyenmai" [(ngModel)]="detailproductobj.GiaKhuyenMai"
                                    id="giakhuyenmai" placeholder="Nhập giá khuyến mại sản phẩm" class="form-control">
                            </div>

                            <div class="col c-12 m-6 l-6 form-input">
                                <label for="soluong">Số lượng tồn</label>
                                <input type="number" name="soluong"
                                    id="soluong" value="0" class="form-control" disabled>
                            </div>

                            <div class="col c-12 m-12 l-12 form-button">
                                <button type="button" class="btn-edit" (click)="create()">Thêm mới</button>
                                <button type="button" class="btn-refresh" (click)="reload()">Làm mới</button>
                            </div>
                        </form>
                    </div>

                    <hr style="color: rgba(0,0,0,0.01);margin: 10px 0;">
                    <div class="box-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        Mã chi tiết sản phẩm
                                    </th>
                                    <th>
                                        Tên sản phẩm
                                    </th>
                                    <th>Tên màu</th>
                                    <th>
                                        Kích thước
                                    </th>
                                    <th>
                                        Hình ảnh
                                    </th>
                                    <th>
                                        Giá bán
                                    </th>
                                    <th>
                                        Giá khuyến mại
                                    </th>
                                    <th>Số lượng tồn</th>
                                    <th>
                                        Chức năng
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of detailproducts">
                                    <td>
                                        {{ item.MaChiTietSanPham }}
                                    </td>
                                    <td>
                                        {{ item.TenSanPham }}
                                    </td>

                                    <td>
                                        {{ item.TenMau }}
                                    </td>

                                    <td>
                                        {{ item.TenKichThuoc }}
                                    </td>
                                    <td>
                                        <img id="modalimg" style="width:40px;cursor: pointer;" (click)="editimg(item.MaMau,item.MaChiTietSanPham)" [src]="item.duongdan ? ('http://localhost:8000/'+item.duongdan) : '/assets/set/img/user7.jpg'" alt="">
                                    </td>
                                    <td>
                                        {{ item.GiaBan }}
                                    </td>
                                    <td>
                                        {{ item.GiaKhuyenMai }}
                                    </td>
                                    <td>
                                        {{ item.SoLuongTon }}
                                    </td>
                                    <td>
                                         <i id="modal" (click)="edit(item.MaChiTietSanPham)" class="fa-solid fa-pencil"></i><i (click)="delete(item.MaChiTietSanPham)" class="fa-solid fa-trash"></i>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="showmodel" data-target="#modal">
                        <div class="showmodel__content">
                            <i class="fa-solid fa-x iconclose" (click)="closeModel()"></i>
                            <div class="gird box-manage">
                                <form class="row" action="" method="post">
                                    <input type="number" name="machitietsanpham" id="machitietsanpham" [ngModel]="detailproduct.MaChiTietSanPham"
                                        style="display: none;">
                                    <div class="col c-12 m-12 l-12 form-input">
                                        <h1 style="margin-bottom: 10px;">Mã chi tiết sản phẩm: {{ detailproduct.MaChiTietSanPham }}</h1>
                                    </div>

                                    <div class="col c-12 m-6 l-6 form-input">
                                        <label for="masanpham">Mã sản phẩm</label>
                                        <input type="text" name="masanpham" [(ngModel)]="detailproduct.MaSanPham"
                                            id="masanpham" placeholder="Nhập thông tin sản phẩm" class="form-control" disabled>
                                    </div>
                                    <div class="col c-12 m-6 l-6 form-input">
                                        <label for="mau">Màu</label>
                                        <select name="mau" [(ngModel)]="detailproduct.MaMau" id="mau" class="form-control">
                                            <option *ngFor="let item of colors" [value]="item.MaMau">{{item.TenMau}}</option>
                                        </select>
                                    </div>
        
                                    <div class="col c-12 m-6 l-6 form-input">
                                        <label for="kichthuoc">Kích thước</label>
                                        <select name="kichthuoc" [(ngModel)]="detailproduct.MaKichThuoc" id="kichthuoc"
                                            class="form-control">
                                            <option *ngFor="let item of sizes" [value]="item.MaKichThuoc">{{item.TenKichThuoc}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col c-12 m-6 l-6 form-input">
                                        <label for="giaban">Giá bán</label>
                                        <input type="number" name="giaban" [(ngModel)]="detailproduct.GiaBan" id="giaban"
                                            placeholder="Nhập giá sản phẩm" class="form-control">
                                    </div>
        
                                    <div class="col c-12 m-6 l-6 form-input">
                                        <label for="giakhuyenmai">Giá khuyến mại</label>
                                        <input type="number" name="giakhuyenmai" [(ngModel)]="detailproduct.GiaKhuyenMai"
                                            id="giakhuyenmai" placeholder="Nhập giá khuyến mại sản phẩm" class="form-control">
                                    </div>
        
                                    <div class="col c-12 m-6 l-6 form-input">
                                        <label for="soluong">Số lượng tồn</label>
                                        <input type="number" name="soluong"
                                            id="soluong" value="0" [ngModel]="detailproduct.SoLuongTon" class="form-control" disabled>
                                    </div>        
                                    
                                    <div class="col c-12 m-12 l-12 form-button" style="margin-bottom: 20px;">
                                        <button type="button" (click)="update()" class="btn-edit">Sửa</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <div class="showmodel" data-target="#modalimg">
                        <div class="showmodel__content">
                            <i class="fa-solid fa-x iconclose" (click)="closeModel()"></i>
                            <div class="gird box-manage">
                                <form class="row" action="" method="post">
                                    <input type="number" name="machitietsanpham" id="machitietsanpham" [ngModel]="listimg.MaChiTietSanPham"
                                        style="display: none;">
                                    <div class="col c-12 m-12 l-12 form-input">
                                        <h1 style="margin-bottom: 10px;">Mã chi tiết sản phẩm: {{ listimg.MaChiTietSanPham }}</h1>
                                    </div>

                                    <input type="number" name="mamau" id="mamau" [ngModel]="listimg.MaMau"
                                        style="display: none;">
                                    <div class="col c-12 m-12 l-12 form-input">
                                        <h1 style="margin-bottom: 10px;">Mã màu: {{ listimg.MaMau }}</h1>
                                    </div>

                                    <div class="col c-12 m-6 l-6 form-input" style="margin-top: 20px;">
                                        <input #fileinput type="file" (change)="upfile($event)" id="file" />
                                        <div style="margin-top: 5px;">
                                            <img [src]="imageSrc" style="width: 100px;" alt="">
                                        </div>
                                        <!-- <button type="button" (click)="uploadFile()">Upload</button> -->
        
                                    </div>
                                    
                                    <div class="col c-12 m-12 l-12 form-button" style="margin-bottom: 20px;">
                                        <button type="button" (click)="updateimg()" class="btn-edit">{{ btnimg }}</button>
                                    </div>

                                    <div class="col c-12 m-12 l-12">
                                        <div class="box-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        
                                                        <th>
                                                            Hình ảnh
                                                        </th>


                                                        <th>
                                                            Chức năng
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of listimgs">

                                                        <td>
                                                            <img [src]="('http://localhost:8000/' + item.DuongDan) ? ('http://localhost:8000/' + item.DuongDan): '/assets/set/img/user7.jpg'" style="width: 100px;" >
                                                        </td>

                                                        <td>
                                                            <i (click)="getimgbyid(item.MaAnh)" class="fa-solid fa-pencil"></i>
                                                            <i (click)="destroyimgbyid(item.MaAnh,item.DuongDan)" class="fa-solid fa-trash"></i>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
